

		<!-- HOME -->
		<section class="home">
			<div class="container homepage">
				<div class="left">
					<h1 id="title">Sinemanın Yeni ve Hesaplı Hali</h1>
					<h2 id="subtitle">
						Bazı insanlar için sinema bir tutkudur. Bu tutkuyu keyifli hale getiren Sinema Isparta karanlık
						sinema korkusu olanlara daha ferah ortamlar, temiz & hijyenik salonlar ve aile bütçesini düşünen
						hesaplı fiyatlar ile hizmetinizdedir.
					</h2>
				</div>
				<div class="right">
					<img width="350" src="img/homeimg.svg" alt="" />
				</div>
			</div>
		</section>

		<!-- MOVIES -->
		<div class="container" style="text-align: center">
			<h1>Vizyondaki Filmler</h1>
		</div>
		<section class="movies">
			<div class="container movieContainer">
				{{#each movies }}
				<div style="background-image: url('{{image}}')" class="movie">
					<div class="movieTitle">{{title}}</div>
					<div class="hiddenMovieTime">
						<b>{{time}}</b>
					</div>
				</div>
				{{/each}}
			</div>

			<div class="container bottomMovies">
				<a href="filmler.html"><div id="allMovieButton">Bütün Filmleri Gör</div></a>
			</div>
		</section>

		<!-- ANNOUNCEMENTS -->

		<section class="announcements">
			<div class="announcebox">
				<p>
					<marquee behavior="" direction="right"
						><b
							>Duyuru: 16 Haziran 2022 günü vizyona girecek olan Deadpool filmi 17 Haziran'a ertelenmiştir.</b
						></marquee
					>
				</p>
			</div>
		</section>

		<!-- CAMPAIGNS -->

		<div class="container" style="text-align: center">
			<h1>Kampanyalar</h1>
		</div>

		<section class="campaigns">
			<div class="container campaignContainer">

				{{#each campaigns}}
				<div class="campaignBox">
					<div class="campaignLeft">
						<h2>{{title}}</h2>
					</div>
					<div class="campaignRight">
						<p>
							{{title}}
						</p>
					</div>
				</div>
				{{/each}}
			</div>
		</section>


